<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <listener>
        <listener-class>jodd.madvoc.MadvocContextListener</listener-class>
    </listener>

    <context-param>
        <param-name>madvoc.webapp</param-name>
        <param-value>bentolor.grocerylist.AppWebApplication</param-value>
    </context-param>
    <context-param>
        <param-name>madvoc.params</param-name>
        <param-value>/madvoc.properties</param-value>
    </context-param>

    <listener>
        <listener-class>jodd.servlet.RequestContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>madvoc</filter-name>
        <filter-class>jodd.madvoc.MadvocServletFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>madvoc</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

</web-app>
